.productInfo {
  display: flex;
}

.productInfo > * {
  margin-right: 24px;
}

.reviewList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviewList > * {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 200px;
}
